
<%# <body class="h-screen bg-gradient-to-b from-green-100 to-lime-50"> %>
<body class="h-screen bg-zinc-50">

    <h3 class="pt-24 px-8 text-slate-700">Find your new device today!</h3>
    <form class="py-2 px-6">   
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm border-2 border-zinc-50 text-gray-900 rounded-full bg-gray-50 focus:ring-ofset-30 focus:border-ofset-30 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-ofset-30 shadow-md" placeholder="Search phones, laptops..." required>
            <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-ofset-30 hover:bg-ofset-60 focus:ring-4 focus:outline-none focus:ofset-60 font-medium rounded-full text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
        </div>
    </form>
    <div class="grid grid-cols-2 px-8 py-8">
        <div class="px-2 py-2">
            <div class="bg-white rounded-lg shadow-md">
                <div class="mx-auto max-w-2xl px-4 py-2 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8">
                    <h2 class="text-center text-slate-700 font-light tracking-tight text-gray-900">Smartphones</h2>

                    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                    <div class="group relative">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                        <%= image_tag "mobile-phone.png", class: "h-full w-full object-cover object-center lg:h-full lg:w-full", alt: "smartphone icon" %>
                        </div>
                        <div class="mt-4 flex justify-between">
                            <div>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-2 py-2">
            <div class="bg-white rounded-lg shadow-md">
                <div class="mx-auto max-w-2xl px-4 py-2 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8">
                    <h2 class="text-center text-slate-700 font-light tracking-tight text-gray-900">Laptops</h2>

                    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                    <div class="group relative">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                        <%= image_tag "laptop.png", class: "h-full w-full object-cover object-center lg:h-full lg:w-full", alt: "laptop icon" %>
                        </div>
                        <div class="mt-4 flex justify-between">
                            <div>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-2 py-2">
            <div class="bg-white rounded-lg shadow-md">
                <div class="mx-auto max-w-2xl px-4 py-2 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8">
                    <h2 class="text-center text-slate-700 font-light tracking-tight text-gray-900">Tablets</h2>

                    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                    <div class="group relative">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                        <%= image_tag "tablet.png", class: "h-full w-full object-cover object-center lg:h-full lg:w-full", alt: "tablet icon" %>
                        </div>
                        <div class="mt-4 flex justify-between">
                            <div>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-2 py-2">
            <div class="bg-white rounded-lg shadow-md">
                <div class="mx-auto max-w-2xl px-4 py-2 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8">
                    <h2 class="text-center text-slate-700 font-light tracking-tight text-gray-900">Smart Watches</h2>

                    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                    <div class="group relative">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                        <%= image_tag "watch (1).png", class: "h-full w-full object-cover object-center lg:h-full lg:w-full", alt: "Smart watches icon" %>
                        </div>
                        <div class="mt-4 flex justify-between">
                            <div>
     
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

<%# <div class="flex "> %>